<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grofer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/groferlog"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grofer">
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".ConfirmedOrder" />
        <activity android:name=".MembershipActivity" />
        <activity android:name=".browseCategories_itemClicked" />
        <activity android:name=".CartActivity" />
        <activity android:name=".Profile" />
        <activity android:name=".LowPriceActivity" />
        <activity android:name=".OfferActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".HomeAcitivity" />
        <activity android:name=".VerifyPhoneNumber" />
        <activity android:name=".oAuth" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>