<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grofer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/grofersimg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grofer">
        <activity android:name=".MembershipActivity">

        </activity>
        <activity android:name=".OfferActivity" />
        <activity android:name=".CategoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeAcitivity" />
        <activity android:name=".VerifyPhoneNumber" />
        <activity android:name=".oAuth" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.SplashScreen">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>